/** RESET **/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  font-family: "Raleway", sans-serif;
  background: #000;
  width: auto;
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 1;
  overflow: hidden;
  text-align: center;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end: RESET **/

* {
  margin: 0;
  padding: 0;
}
a,
a:visited {
  color: #6d6c6c;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a img {
  border: 0;
}
#container {
  position: absolute;
  top: 40vh;
  right: 35vw;
  border-left: 1px solid #303030;
  padding-left: 50px;
}
#astronaut {
  width: 730px;
  height: 650px;
  background: transparent url(../img/astronaut.png) no-repeat;
  position: relative;
  margin-left: 10%;
  top: 20%;
  zoom: 80%;
}
.space {
  background: transparent url(../img/bg.png) repeat 0 0 fixed;
  background-size: auto;
}

/* Text */
#text_1 {
  font-family: "Bangers", cursive;
  font-size: 30px;
  color: #393939;
  line-height: 28px;
  position: absolute;
  top: 102px;
  left: 32px;
}

#text_2 {
  font-family: "Bangers", cursive;
  font-size: 90px;
  color: #2d2d2d;
  width: 380px;
  padding-right: 10px;
  position: absolute;
  top: 10px;
  left: 95px;
}

#text_3 {
  font-family: "Bangers", cursive;
  font-size: 40px;
  color: #393939;
  line-height: 32px;
  text-align: right;
  width: 305px;
  padding-right: 15px;
  position: absolute;
  top: 73px;
  left: 332px;
}

#text_4 {
  font-family: "Bangers", cursive;
  color: #393939;
  font-size: 30px;
  text-transform: uppercase;
  position: absolute;
  top: 180px;
  left: 392px;
}

#text_5 {
  font-family: "Raleway", sans-serif;
  color: #393939;
  font-size: 16px;
  text-transform: uppercase;
  position: absolute;
  top: 230px;
  left: 450px;
}

#text_5 ul li {
  display: inline;
  list-style-type: none;
  border-left: 1px solid #6d6c6c;
  padding: 0 0 0 2em;
  margin: 0 2em 0 0;
}

#text_5 ul li:first-child {
  border-left: 0;
}

div#content {
  width: 940px;
  height: 280px;
  margin: 0 auto;
  clear: both;
  top: -140px;
  position: static;
}

footer {
  width: 100%;
  opacity: 0.25;
  transition: all 1s ease;
  position: fixed;
  bottom: 50px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: #efefef;
  font-size: 14px;
  font-weight: lighter;
  cursor: help;
}
footer:hover {
  opacity: 1;
  transition: all 1s ease;
}
footer a {
  width: 250px;
  color: #ffe400 !important;
  margin: 0 25px;
  line-height: 2;
  text-decoration: none;
}
