body {
  margin: 0;
  padding: 100px 15%;
  background: #000;
  font-family: "Raleway", sans-serif;
  color: #efefef;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffe400;
}

footer {
  opacity: 0.25;
  transition: all 1s ease;
  text-align: center;
  color: #efefef;
  font-size: 14px;
  font-weight: lighter;
  cursor: help;
  margin: 50px auto;
}
footer:hover {
  opacity: 1;
  transition: all 1s ease;
}
footer a {
  width: 250px;
  color: #ffe400;
  margin: 0 25px;
  line-height: 2;
  text-decoration: none;
}
