/* Reset */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,dfn,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}

html,body{
height: 100%;
}

body{
margin:0;
padding:0;
background:#000;
font-family: 'Raleway', sans-serif;
}

div#shim{
visibility: hidden;
width: 100%;
height: 50%;
margin-top: -140px;
float: left;
}

div#content {
width: 940px;
height: 280px;
margin: 0 auto;
clear: both;
position: relative;
top: -140px;

/* IE4ever Hack: Hide from IE4 **/
position: static;
/** end hack */
}

/* Hide from IE5mac \*//*/
div#shim {
display: none;
}
html, body {
height: auto;
}
/* end hack */
/* ]]> */


.logo_box{
width: 349px;
float: left;
border-right: 1px solid #303030;
height: 280px;
position: relative;
}

.logo_box .logo {
    width: 192px;
    height: auto;
}

h1{
padding: 12px 70px 12px 20px;
position: absolute;
right: 0;
text-align:left;
top: 10%;
float: left;
color: #fff;
letter-spacing: -1px;
font-size: 38px;
}

h3{
font-size: 24px;
color: #333;
float: left;
margin-right: 15px;
padding-top: 5px;
}

.main_box{
float: left;
width: 500px;
height: 95px;
padding: 25px;
}

.main_box p {
    color: #fff;
}

form{
width: 590px;
padding: 10px 0;
float: left;
height: 80px;
}

h2{
color: #ffe400;
font-size: 24px;
margin-bottom: 20px;
}

h2 span{
color: #fff;
font-size: 16px;
line-height: 26px;
font-style: italic;
}

ul.info{
width: 100%;
padding: 0;
    margin: 20px 0 0 0;
float: left;
}

ul.info li{
margin-bottom: 20px;
clear: both;
float: left;
    width: 100%;
}

ul.info li p{
font-size: 13px;
line-height: 20px;
color: #fff;
float: left;
margin: 0;
}


ul.info li p.social a.tw{
    width: 28px;
    height: 28px;
    margin-right: 8px;
    float: left;
}

ul.info li p.social a.tw{
    width: 28px;
    height: 28px;
    margin-right: 8px;
    float: left;
}

ul.info li p.social a.fb{
width: 28px;
height: 28px;
float: left;
margin-right: 8px;
}

ul.info li p.social a.li{
    width: 28px;
    height: 28px;
    float: left;
}

ul.info li p.social a.im{
    width: 28px;
    height: 28px;
    float: left;
}

ul.info li p.social a.tw:hover{
width: 28px;
height: 28px;
float: left;
}

ul.info li p.social a.fb:hover{
width: 28px;
height: 28px;
float: left;
}

ul.info li p.social a.li:hover{
    width: 28px;
    height: 28px;
    float: left;
}

ul.info li p.social a.li:hover{
    width: 28px;
    height: 28px;
    float: left;
}

.connect{
width: 145px;
padding-left: 20px;
float: left;
padding-top: 20px;
}

.connect img{
margin-right: 5px;
}

.social {
    display: flex;
    justify-content: space-between;
    width: 60%;
}
