@import "tailwindcss";

@layer components {
  html,
  body {
    @apply h-full w-full;
    @apply overflow-hidden;
    @apply m-0;
    @apply p-0;
    @apply bg-black;
    background: transparent url(../public/img/bg.png) repeat 0 0 fixed;
    @apply bg-auto;
    animation: panBackground 30s linear infinite;
  }

  .no-bg-animation {
    animation: none !important;
  }
}

@keyframes panBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

@keyframes floatAstronaut {
  0%, 100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(var(--random-x1, 30px), var(--random-y1, 50px));
  }
  50% {
    transform: translate(var(--random-x2, 100px), var(--random-y2, 150px));
  }
  75% {
    transform: translate(var(--random-x3, 170px), var(--random-y3, 100px));
  }
}
